<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="software.pueblo.com.fucha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD6mtvGV6DUKhK75kwdsa3_dYBY9EkZKRQ" />

        <activity
            android:name="com.pueblo.software.base.activites.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pueblo.software.base.activites.LoginActivity" />
        <activity
            android:name="com.pueblo.software.base.activites.HomeMapActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.pueblo.software.base.activites.AddNewJobActivity"
            android:label="@string/title_activity_add_new_job" />
        <activity android:name="com.pueblo.software.base.activites.JobDetailsActivity" />
        <activity
            android:name="com.pueblo.software.base.activites.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.pueblo.software.base.activites.MyJobActivity"></activity>
    </application>

</manifest>